@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}


<div style=" text-align:center;">
    <div class="contact-section-1" style="background-image: url('Images/house2.jpg'); background-size:cover;">
        <div style="max-width:80%; height:60%;  background-color: rgba(245, 245, 245,.7); text-align:center; margin:auto; display:inline-block; font-size:24px; ">
            <h2>
                CONTACT US &amp; ADDRESS
            </h2>
            <ul class="sitemap" style="list-style-type: none; padding-left:0px;">

                <li>
                    1480 Spur Lane
                </li>
                <li>
                    Colorado Springs, CO 80906
                    <br /><br />
                </li>
                
                <li>
                    Phone: 777-777-7777
                </li>
                <li>
                    Email: example@gmail.com
                    <br /><br />

                </li>
               
                <li>
                    MON-SUN:10AM-7PM
                </li>
            </ul>
           
        </div>
    </div>

    <div class="contact-section-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12435.852855661944!2d-104.8792023710971!3d38.81039617495582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87135b1b1f215853%3A0x419d6b08691f16e8!2s1480+Spur+Ln%2C+Colorado+Springs%2C+CO+80906!5e0!3m2!1sen!2sus!4v1537500303201" height="570" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>

    </div>

</div>

<div style="min-height:370px; background-color:#8bacbb; vertical-align:middle;">


    <br />
    <h3 style="font-size:3em; text-align:center;">HAVE A QUESTION?</h3>
    <div style="text-align:center;">
        <form action="https://formspree.io/akirawebsolutions0@gmail.com"
              method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="_replyto" placeholder="Your Email" required>
            <input type="text" name="subject" placeholder="Subject" required><br />
            <textarea name="message" placeholder="Type your message here!" required style="height:250px; width:90%;"></textarea><br />

            <input class="button1" type="submit" value="Send">
        </form>
    </div>
    <!--End mc_embed_signup-->

</div>