@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Beautiful Colorado Weddings";
}

<style>
    .banner1 {
        height: 590px;
        background-image: url('Images/beautiful-blur-bridal.jpg');
        background-size: cover;
        background-position: center left;
        margin-top: 0;
    }
</style>

<div class="banner1">
    <div style="left: 0px; max-width: 980px; margin:auto; margin-top:0;   pointer-events: none; ">
        <h2  style="font-size:60px; line-height:1.4em; text-align:center;"><span style="font-size:60px;"><span style="font-family:caudex,serif;"><span style="letter-spacing:0.25em;"><span style="color:blue;">Toms Weddings</span></span></span></span></h2>
        <h2  style="font-size:18px; line-height:2.4em; text-align:center;"><span style="font-size:18px;"><span style="font-family:caudex,serif;"><span style="letter-spacing:0.25em;"><span style="color:blue;">The Colorado Springs Wedding Destination</span></span></span></span></h2>
        <h2  style="font-size:35px; line-height:2.4em; text-align:center;"><span style="font-size:35px;"><span style="font-family:caudex,serif;"><span style="color:blue;"><span style="font-weight:bold;"><span style="letter-spacing:0.25em;">Starting at $2995</span></span></span></span></span></h2>
        <h2  style="font-size:20px; line-height:2.4em; text-align:center;"><span style="font-size:20px;"><span style="font-family:caudex,serif;"><span style="color:blue;"><span style="font-weight:bold;"><span style="letter-spacing:0.25em;">Legal &amp; Renewal of Vows</span></span></span></span></span></h2>
    </div>
</div>

<div style="background-color:#f5bfb3; height:186px;">
    <p style="color:white; text-align:center; font-size:54px; margin:0; "> A UNIQUE WEDDING EXPERIENCE</p>
</div>

<div style="min-height:674px; background-color:white;">
    <h3 style="text-align: center; font-size: 4.5em; margin-top:0px; padding-top:5%; color:#f5bfb3;">SOME OF OUR WEDDING PACKAGES</h3>
    <hr style="border: 2px solid #ffffff; " width="50%">

    <div style="margin:auto; text-align:center; width:100%;">
        <a href="~/Packages#Silver" style="padding:0;">
            <div class="home-ui-nav-gallery" style=" margin:0; background-image: url('Images/sunset.jpeg'); background-size:cover;">
                <h4 style="text-align:left; font-family:Athene; font-size:36px; margin:0;"><span style="background-color: rgba(255,255,255,1);"> <span style="color:silver;"> Silver</span> Package</span></h4>
                <h5 style="text-align:left; font-family:Athene; font-size:24px; margin:0;"><span style="background-color: rgba(245, 191, 179,1);color:white; ">2 Day | $2995+</span></h5>
                <br />
            </div>
        </a>
        <a href="~/Packages#Gold" style="padding:0;">
            <div class="home-ui-nav-gallery" style="  background-image: url('Images/ring on finger.jpg'); background-size:cover;">
                <h4 style="text-align:left; font-family:Athene; font-size:36px; margin:0;"><span style="background-color: rgba(255,255,255,1); "> <span style="color:gold;">Gold</span> Package</span></h4>
                <h5 style="text-align:left; font-family:Athene; font-size:24px; margin:0;"><span style="background-color: rgba(245, 191, 179,1); color:white;">3 Day | $3995+</span></h5>
                <br />
            </div>
        </a>
        <a href="~/Packages#Platinum" style="padding:0;">
            <div class="home-ui-nav-gallery" style="  background-image: url('Images/holding hands.jpeg'); background-size:cover;">
                <h4 style="text-align:left; font-family:Athene; font-size:36px; margin:0;"><span style="background-color: rgba(255,255,255,1);"><span style="color:#e5e4e2;"> Platinum </span>Package</span></h4>
                <h5 style="text-align:left; font-family:Athene; font-size:24px; margin:0;"><span style="background-color: rgba(245, 191, 179,1); color:white; ">4 day | $4595+</span></h5>
                <br />
            </div>
            </a>

    </div>

</div>



<div style=" text-align:center;">
    <div class="contact-section-1">
        <div style="max-width:80%; height:570px; text-align:center; margin:auto; display:inline-block; font-size:24px; ">
            <h2>
                Welcome to Toms Weddings
            </h2>
            <p>If you want a beautiful, affordable and charming wedding or renewal ceremony, then look no further!
            Toms Weddings is an elegant and historical full-service Colorado Springs wedding with three great wedding packages: located at the world-renown Gold Camp rd. in Colorado Springs, Colorado
            </p>
            <p>We offer gown and tux rentals, fresh hand-crafted bouquets of all sizes, hair and makeup, professional digital photography, wedding cakes, bridal veils, bridal accessories, and more! </p>
            <p>
                We guarantee you will enjoy your 5-star experience with us and our reviews tell it all. No gimmicks or pushy sales people here.

            </p>
            <p>
                Legal Weddings, Renewal of Vows & Commitment Ceremonies
            </p>
        </div>
    </div>

    <div class="contact-section-2">
        <img style="width:100%; height:100%;" src="~/Images/wedding location.jpeg" />
    </div>

</div>


<div style="text-align:center;">
    <div class="contact-section-2">
        <img style="width:100%; height:100%;"  src="~/Images/couple.jpeg" />

    </div>

    <div @*style=" background-image: url('Images/car1.jpg'); background-size:cover;"*@ class="contact-section-2">
        <div style="max-width:80%; text-align:center; margin:auto; vertical-align:middle;">

            <p class="text-size-change-1" style=" color:#000000; background-color: rgba(245, 191, 179,1); margin-top:0;">
                ELEGANT, BEAUTIFUL &amp; AFFORDABLE
            </p>

        </div>
    </div>
</div>

<div style="min-height:370px; background-color:#8bacbb; vertical-align:middle;">


    <br />
    <h3 style="font-size:3em; text-align:center;">HAVE A QUESTION?</h3>
    <div style="text-align:center;">
        <form action="https://formspree.io/akirawebsolutions0@gmail.com"
              method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="_replyto" placeholder="Your Email" required>
            <input type="text" name="subject" placeholder="Subject" required><br />
            <textarea name="message" placeholder="Type your message here!" required style="height:250px; width:90%;"></textarea><br />

            <input class="button" type="submit" value="Send">
        </form>
    </div>
    <!--End mc_embed_signup-->

</div>

<div style="width:90%; margin:auto;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12435.852855661944!2d-104.8792023710971!3d38.81039617495582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87135b1b1f215853%3A0x419d6b08691f16e8!2s1480+Spur+Ln%2C+Colorado+Springs%2C+CO+80906!5e0!3m2!1sen!2sus!4v1537500303201"  height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
</div>