@{
    Page.Title = "Wedding Packages";
    Layout = "~/_SiteLayout.cshtml";
}
<div style="height:175px; background-color:rgb(244, 244, 244);">

</div>
<a name="Silver" style="padding:0;"></a>
<div style="text-align:center;height:700px; background-image: url('Images/sunset.jpeg'); background-size: cover; background-position:center left;" >
    <h1 style="background-color: rgba(0, 0, 0,.7); color:silver;  width:25%; margin:auto; margin-top:0;">Silver Package</h1>
    <h2 style="background-color: rgba(245, 191, 179,.8); color:white;  width:20%; margin:auto; margin-top:0;">2 Days | $2995</h2>

    <div style="width:80%; display:inline-flex;  ">
        <div style="width:50%; margin:auto; padding-top:5%;  ">
            <ul style="background-color: rgba(0, 0, 0,.7); color:silver;">
                <li class="one sliding">&#9679; Silver Package<br /><br /></li>
                <li class="two sliding">&#9679; Silver Package<br /><br /></li>
                <li class="three sliding">&#9679;Silver Package<br /><br /></li>
                <li class="four sliding">&#9679; Silver Package<br /><br /></li>
                <li class="five sliding">&#9679; Silver Package<br /><br /></li>
                <li class="six sliding">&#9679; Silver Package<br /><br /></li>
                <li class="seven sliding">&#9679; Silver Package<br /><br /></li>
            </ul>
        </div>
        <div style="width:50%; margin:auto; padding-top:5%">
            <ul style="background-color: rgba(0, 0, 0,.7); color:silver;">
                <li class="eight sliding">&#9679; Silver Package<br /><br /></li>
                <li class="nine sliding">&#9679; Silver Package<br /><br /></li>
                <li class="ten sliding">&#9679; Silver Package<br /><br /></li>
                <li class="eleven sliding">&#9679; Silver Package<br /><br /></li>
                <li class="twelve sliding">&#9679; Silver Package<br /><br /></li>
                <li class="thirteen sliding">&#9679; Silver Package<br /><br /></li>
                <li class="fourteen sliding">&#9679; Silver Package<br /><br /></li>
            </ul>
        </div>
    </div>
</div>

<div style="height:175px; background-color:rgb(245, 191, 179);">

</div>

<a name="Gold" style="padding:0;"></a>
<div style="text-align:center;height:700px; background-image: url('Images/ring on finger.jpg'); background-size: cover; background-position:center left;" >
    <h1 style="background-color: rgba(0, 0, 0,.7); color:gold; width:25%; margin:auto; margin-top:0;">Gold Package </h1>
    <h2 style="background-color: rgba(245, 191, 179,.8); color:white; width:20%; margin:auto; margin-top:0;">3 Days | $3995</h2>
    <div style="width:80%; display:inline-flex;  ">

        <div style="width:50%; margin:auto; padding-top:5%;  ">
            <ul style="background-color: rgba(0, 0, 0,.7); color:gold;">
                <li class="one sliding">&#9679; Gold Package<br /><br /></li>
                <li class="two sliding">&#9679; Gold Package<br /><br /></li>
                <li class="three sliding">&#9679;Gold Package<br /><br /></li>
                <li class="four sliding">&#9679; Gold Package<br /><br /></li>
                <li class="five sliding">&#9679; Gold Package<br /><br /></li>
                <li class="six sliding">&#9679; Gold Package<br /><br /></li>
                <li class="seven sliding">&#9679; Gold Package<br /><br /></li>
            </ul>
        </div>
        <div style="width:50%; margin:auto; padding-top:5%">
            <ul style="background-color: rgba(0, 0, 0,.7); color:gold;">
                <li class="eight sliding">&#9679; Gold Package<br /><br /></li>
                <li class="nine sliding">&#9679; Gold Package<br /><br /></li>
                <li class="ten sliding">&#9679; Gold Package<br /><br /></li>
                <li class="eleven sliding">&#9679; Gold Package<br /><br /></li>
                <li class="twelve sliding">&#9679; Gold Package<br /><br /></li>
                <li class="thirteen sliding">&#9679; Gold Package<br /><br /></li>
                <li class="fourteen sliding">&#9679; Gold Package<br /><br /></li>
            </ul>
        </div>
    </div>
</div>

<div style="height:175px; background-color:rgb(244, 244, 244);">

</div>

<a name="Platinum" style="padding:0;"></a>
<div style="text-align:center;height:700px; background-image: url('Images/holding hands.jpeg'); background-size: cover; background-position:center left;">
    <h1 style="background-color: rgba(0, 0, 0,.7); color:#e5e4e2; width:25%; margin:auto; margin-top:0;">Platinum Package</h1>
    <h2 style="background-color: rgba(245, 191, 179,.8); color:white; width:20%; margin:auto; margin-top:0;">4 Days | $4595</h2>

    <div style="width:80%; display:inline-flex;  ">
        <div style="width:50%; margin:auto; padding-top:5%;  ">
            <ul style="background-color: rgba(245, 191, 179,.8); color:#e5e4e2;">
                <li class="one sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="two sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="three sliding">&#9679;Platinum Package<br /><br /></li>
                <li class="four sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="five sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="six sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="seven sliding">&#9679; Platinum Package<br /><br /></li>
            </ul>
        </div>
        <div style="width:50%; margin:auto; padding-top:5%">
            <ul style="background-color: rgba(245, 191, 179,.8); color:#e5e4e2;">
                <li class="eight sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="nine sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="ten sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="eleven sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="twelve sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="thirteen sliding">&#9679; Platinum Package<br /><br /></li>
                <li class="fourteen sliding">&#9679; Platinum Package<br /><br /></li>
            </ul>
        </div>
    </div>
</div>

@*Text slide in*@
<script>
    $(document).ready(function () {
        $(".one")
            .css('display', 'block')
            .animate({ opacity: 1.0, left: '120px' }, 600);
        $(".two")
            .css('display', 'block')
            .delay(150).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".three")
            .css('display', 'block')
            .delay(300).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".four")
            .css('display', 'block')
            .delay(450).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".five")
            .css('display', 'block')
            .delay(700).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".six")
            .css('display', 'block')
            .delay(850).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".seven")
            .css('display', 'block')
            .delay(1000).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".eight")
            .css('display', 'block')
            .delay(1150).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".nine")
            .css('display', 'block')
            .delay(1300).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".ten")
            .css('display', 'block')
            .delay(1450).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".eleven")
            .css('display', 'block')
            .delay(1700).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".twelve")
            .css('display', 'block')
            .delay(1850).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".thirteen")
            .css('display', 'block')
            .delay(2000).animate({ opacity: 1.0, left: '120px' }, 600);
        $(".fourteen")
            .css('display', 'block')
            .delay(2150).animate({ opacity: 1.0, left: '120px' }, 600);
    })

</script>